# Visual Studio
/.vs
**.sln
**.vcxproj
**.vcxproj.user
**.vcxproj.filters

#Vscode
/.vscode
/.cache

#CLion
/.idea

# Conan
/dependencies

# Build Output
/build
/logs
**/bin
**/obj
**.csproj

#tests
/local_tests

# Logs
**/logs

#possible additions
/idk maybe

# JSON
/third_party/peach_core/header_only/spirv-headers/*.json
**.json

# individual files
/TODO.txt
/CMakeUserPresets.json

#MacOS specific
**.DS_Store


#Compressed deps

third_party/peach_editor/assimp/win64/release_v*/
third_party/peach_editor/assimp/win64/debug_v*/

third_party/peach_editor/vulkan/win64/release_v*/
third_party/peach_editor/vulkan/win64/debug_v*/

