# Visual Studio
/.vs
**.sln
**.vcxproj
**.vcxproj.user
**.vcxproj.filters

#CLion
/.idea

# Conan
/dependencies

# Build Output
/build
/logs
**/bin
**/obj
**.csproj

#tests
/local_tests

# Logs
/logs

#possible additions
/idk maybe

# JSON
**.json

# individual files
/TODO.txt
/CMakeUserPresets.json

#MacOS specific
**.DS_Store