# Visual Studio
/.vs
**.sln
**.vcxproj
**.vcxproj.user
**.vcxproj.filters

# Conan
/dependencies

# Build Output
/build

# Logs
/logs

# JSON
**.json

# individual files
/TODO.txt
/CMakeUserPresets.json